<%= form_with(model: emergencium, local: true) do |form| %>
  <% if emergencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergencium.errors.count, "error") %> prohibited this emergencium from being saved:</h2>

      <ul>
      <% emergencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :emergencium_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :emergencium_longitude %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :emergencium_address %>
  </div>

  <div class="field">
    <%= form.label :descrption %>
    <%= form.text_area :descrption, id: :emergencium_descrption %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :emergencium_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
