<p id="notice"><%= notice %></p>

<h1>Emergencia</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Descrption</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergencia.each do |emergencium| %>
      <tr>
        <td><%= emergencium.latitude %></td>
        <td><%= emergencium.longitude %></td>
        <td><%= emergencium.address %></td>
        <td><%= emergencium.descrption %></td>
        <td><%= emergencium.title %></td>
        <td><%= link_to 'Show', emergencium %></td>
        <td><%= link_to 'Edit', edit_emergencium_path(emergencium) %></td>
        <td><%= link_to 'Destroy', emergencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Emergencium', new_emergencium_path %>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
